body {
  background-color: #303030;
  text-align: center;
}

#clock {
  max-width: 50vw;
  margin: 50px auto 50px auto;
}
.progress {
  width: 100%;
  background-color: green;
  height: 10vh;
}

.progressvalue {
  width: 0;
  height: 100%;
  background-color: darkred;
}

.timedisplay {
  border-color: linen;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  margin-bottom: 25px;

  color: linen;
  width: 100%;

  font-size: 14vw;
  font-family: sans;
}

.centered {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: fixed;
  bottom: 5px;
  margin: auto;
  width: 100%;
  min-height: 50px;
}

footer form.running {
  opacity: 0;
  transition: opacity 1s; 
}

footer:hover form {
  opacity: 1;
}